@layer components {
    .ghost-ring-button {
        @apply
        text-neutral-600 hover:text-black
        dark:text-neutral-500 dark:hover:text-neutral-100
        hover:border hover:border-black
        dark:border-neutral-500 dark:hover:border dark:hover:border-neutral-100;
    }

    .shadcn-primary-button {
        @apply
        bg-purple-700 hover:bg-purple-500
        dark:bg-purple-800 dark:hover:bg-purple-500
        text-white dark:text-white dark:hover:text-black
    }

    .shadcn-secondary-button {
        @apply
        shadow-sm
        text-neutral-900 bg-neutral-200 hover:bg-neutral-400/80 hover:text-neutral-200
        dark:text-neutral-50 dark:hover:text-black dark:bg-neutral-600 dark:hover:bg-neutral-500
    }

    .shadcn-destructive-button {
        @apply
        shadow-sm
        text-neutral-50 dark:text-neutral-50
        bg-red-500 hover:bg-red-500/90
        dark:bg-red-900  dark:hover:bg-red-900/90
    }

    .shadcn-outline-button {
        @apply
        shadow-sm
        border border-neutral-200 dark:border-neutral-800
        bg-white hover:bg-neutral-100 dark:bg-neutral-900 dark:hover:bg-neutral-800
        dark:text-white hover:text-neutral-900 dark:hover:text-neutral-50
    }
}